In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Citybus_Transport_Ahmedabad.csv")
df.head()

   Sr. No. Name of Terminus           Nature of Work Name of Ward
0        1      Lal Darwaja  Bus Terminus/Cash Cabin      Raikhad
1        2   Wadaj Terminus  Bus Terminus/Cash Cabin        Wadaj
2        3  Wadaj Bus Stand                Bus Stand        Wadaj
3        4  Paldi Bus Stand                Bus Stand        Paldi
4        5      Paldi Depot            Night Parking        Paldi

In [7]:
df.tail()

    Sr. No. Name of Terminus              Nature of Work Name of Ward
14       15  Sabarmati Acher             Private Parking    Sabarmati
15       16   Memnagar Depot          Depot/Pvt. parking  Navrangpura
16       17     Naroda-Memco             Depot / Parking       Naroda
17       18      Millatnagar  Depot / Parking/Cash Cabin    Danilimda
18       19   Shrinath Depot             Private Parking        Wadaj

In [6]:
df.shape

(19, 4)

In [8]:
df.describe

<bound method NDFrame.describe of     Sr. No.         Name of Terminus              Nature of Work Name of Ward
0         1              Lal Darwaja     Bus Terminus/Cash Cabin      Raikhad
1         2           Wadaj Terminus     Bus Terminus/Cash Cabin        Wadaj
2         3          Wadaj Bus Stand                   Bus Stand        Wadaj
3         4          Paldi Bus Stand                   Bus Stand        Paldi
4         5              Paldi Depot               Night Parking        Paldi
5         6    Navrangpura Bus Stand                   Bus Stand  Navrangpura
6         7   Sarangpur Bus Terminus         Terminus/Cash Cabin    Sarangpur
7         8      Naroda Bus Terminus         Terminus/Cash Cabin       Naroda
8         9       Vasna Bus Terminus         Terminus/Cash Cabin        Vasna
9        10  Hatkeshwar Bus Terminus         Terminus/Cash Cabin   Hatkeshwar
10       11    AkhbarnagarÂ  Terminus                Bus Terminus   Nava Wadaj
11       12    Sola Housing Terminus                Bus Terminus    Naranpura
12       13         Kalupur Terminus         Terminus/Cash Cabin      Kalupur
13       14                 Jamalpur             Depot / Parking   Behrampura
14       15          Sabarmati Acher             Private Parking    Sabarmati
15       16           Memnagar Depot          Depot/Pvt. parking  Navrangpura
16       17             Naroda-Memco             Depot / Parking       Naroda
17       18              Millatnagar  Depot / Parking/Cash Cabin    Danilimda
18       19           Shrinath Depot             Private Parking        Wadaj>

In [10]:
import matplotlib as plt