## Citybus_Transport_Ahmedabad Visulization:

In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("Citybus_Transport_Ahmedabad.csv")
data.head()

   Sr. No. Name of Terminus           Nature of Work Name of Ward
0        1      Lal Darwaja  Bus Terminus/Cash Cabin      Raikhad
1        2   Wadaj Terminus  Bus Terminus/Cash Cabin        Wadaj
2        3  Wadaj Bus Stand                Bus Stand        Wadaj
3        4  Paldi Bus Stand                Bus Stand        Paldi
4        5      Paldi Depot            Night Parking        Paldi

In [3]:
data.tail()

    Sr. No. Name of Terminus              Nature of Work Name of Ward
14       15  Sabarmati Acher             Private Parking    Sabarmati
15       16   Memnagar Depot          Depot/Pvt. parking  Navrangpura
16       17     Naroda-Memco             Depot / Parking       Naroda
17       18      Millatnagar  Depot / Parking/Cash Cabin    Danilimda
18       19   Shrinath Depot             Private Parking        Wadaj